/*!
  Theme:  Solarized Light
  Author:  Ethan Schoonover (modified by aramisgithub)
  License:  ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer:  @highlightjs/core-team
  Version:  2021.09.0
*/
pre code.hljs
  display: block
  overflow-x: auto
  padding: 1em

code.hljs
  padding: 3px 5px

.hljs
  color: $base05
  background: $base00

.hljs ::selection,
.hljs::selection
  background-color: $base02
  color: $base05

.hljs-comment
  color: $base03

.hljs-tag
  color: $base04

.hljs-operator,
.hljs-punctuation,
.hljs-subst
  color: $base05

.hljs-operator
  opacity: .7

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable
  color: $base-red

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_
  color: $base-oraneg

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_
  color: $base-yellow

.hljs-strong
  font-weight: 700
  color: $base-yellow

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__
  color: $base-green

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp
  color: $base-cyan

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property
  color: $base-blue

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type
  color: $base-violet

.hljs-emphasis
  color: $base-violet
  font-style: italic

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string
  color: $base-magenta

.hljs-meta .hljs-keyword,
.hljs-meta-keyword
  font-weight: 700

