.base16colored-cyan
    color: $base-cyan
.base16colored-yellow
    color: $base-yellow
.base16colored-orange
    color: $base-orange
.base16colored-red
    color: $base-red
.base16colored-magenta
    color: $base-magenta
.base16colored-violet
    color: $base-violet
.base16colored-blue
    color: $base-blue
.base16colored-green
    color: $base-green

.base16chara-passerby
    color: $color-passerby

@import "others/lovelive"
@import "pjsekai/leoneed"
@import "pjsekai/momojum"
@import "pjsekai/vivibas"
@import "pjsekai/wondershow"
@import "vocaloid"
@import "vc"
