.base16character-tianyi
    color: saturate($base-blue + 41.6%, 42.5%) //#268bd2 -> #7dbce8 -> #6cf
.base16character-ling
    color: $base-red
.base16character-yanhe
    color: $base-cyan
.base16character-longya
    color: $base-cyan
.base16character-qingxian
    color: $base-yellow
.base16character-moke
    color: $base-blue
