.base16character-miku
    color: desaturate($base-cyan + 16.61%, 5%)
.base16character-luka
    color: saturate($base-red + 65%, 23%)
.base16character-rin
    color: $base-orange
.base16character-len
    color: $base-yellow
.base16character-meiko
    color: $base-red
.base16character-kaito
    color: $base-blue
