.base16character-arashichisato
    color: lighten($base-red, 12.8%)
.base16character-shibuyakanon
    color: lighten($base-orange, 12.8%)
.base16character-heannasumire
    //color: lighten($base-green, 57.14%)
    color: desaturate($base-green + 28.57%, 12.8%)
.base16character-heanna-imoto
    color: desaturate($base-yellow + 22.19%, 45%)
.base16character-tangkeke
    color: lighten($base-cyan, 12.8%)
.base16character-tang-nesan
    font-weight: bold
    color: $base-cyan
.base16character-hazukiren
    color: lighten($base-blue, 12.8%)
/*
  @media (prefers-color-scheme: dark)
    .base16character-arashichisato
        color: lighten($base-red, 39%)
    .base16character-shibuyakanon
        color: lighten($base-orange, 39%)
    .base16character-tangkeke
        color: lighten($base-cyan, 39%)
    .base16character-hazukiren
        color: lighten($base-blue, 39%)
*/