.base16character-hoshinoichika
    color: saturate($base-blue + 15.65%, 22%) //#268bd2 -> #449edd -> #3ae
.base16character-tenmasaki
    color: $base-yellow + 43.16% //#b58900 -> #fd4
.base16character-mochizukihonami
    color: saturate($base-red + 30%, 12%) //#dc322f -> #e7706d -> #e66
.base16character-hinomorishiho
    color: $base-green + 28.57% //#859900 -> #deff00 -> #bd2
