.base16character-hanasatominori
    color: saturate($base-orange + 70.175%, 22%) //#cb4b16 -> #f7c6b2 -> #fca
.base16character-kiritaniharuka
    color: saturate($base-blue + 61.1%, 45%) //#268bd2 -> #a8d2ef -> #9cf
.base16character-momoiairi
    color: saturate($base-red + 65%, 38%) //#dc322f -> #f3b7b6 -> #fac
.base16character-hinomorishizuku
    color: saturate($base-cyan + 61.2%, 23%) //#2aa198 -> #a1e6e1 -> #9ed
